body{
    font-size: 25px;
}

#conteneur{
    width: 80%;
    margin: 0 auto;
    border: 2px solid darkslategray;
    background-color: cyan;
}

header{
    background-color: rgb(255, 0, 0);
    height: 35px;
    text-align: center;
    padding-top: 11.5px;
}

nav{
    background-color: royalblue;
    height: 30px;
    text-align: center;
}

section{
    height: 600px;
    margin: 20px;
   }

footer{
    background-color: greenyellow;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p{
    width: 24%;
    height: 142px;
    float: left;
    border: 5px solid white;
    color: white;
}

.a{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
    
}
.b{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}
.c{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.d{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}

.clear{
    clear:both;
}
.e{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}
.f{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}
.g{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.h{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}

.clear{
    clear:both;
}

.i{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.j{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.k{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}
.l{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}

.clear{
    clear:both;
}
.m{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.n{
    background-color: #000080;
    text-align: center;
    line-height: 150px;
}
.o{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}
.p{
    background-color: #CD5C5C;
    text-align: center;
    line-height: 150px;
}

.clear{
    clear:both;
}